body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", cursive;
  outline: none;
}

/* Utilities classes */

.light-btn {
  display: inline-block;
  background: rgb(57, 216, 36);
  color: #fff;
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  transition: all 0.4s;
}

.light-btn:hover {
  background: #000;
  color: #f4f4f4;
}

.add-employee {
  text-align: center;
  margin-top: 2rem;
}

.emp-btn {
  margin: 5px;
}

.dark-btn {
  display: inline-block;
  background: rgb(0, 0, 0);
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 0.5rem 1.3rem;
  transition: all 0.5s;
}

.dark-btn:hover {
  background: rgb(57, 216, 36);
  color: #f4f4f4;
}

.size-lg {
  font-size: 4rem;
}

.size-md {
  font-size: 2.5rem;
}

.size-sm {
  font-size: 1rem;
}

.size-xm {
  font-size: 0.7rem;
}

.center {
  text-align: center;
}

/* Add Employee */

.add-employee button {
  padding: 1rem 2rem;
  background: #ed5c69;
  font-weight: bold;
  transition: all 0.5s;
}

.add-employee button:hover {
  box-shadow: 0 1.5px 2px 0.5px #333;
  background: #f55765;
}

/* Delete button */
.del-btn {
  background: rgba(255, 255, 255, 0);
  border: none;
  color: rgb(107, 226, 226);
  transition: all 0.5s;
}
.del-btn:hover {
  font-size: 1.2rem;
  color: rgb(38, 144, 214);
}

/* Modal */
.modal-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(17, 20, 36, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  width: 30vw;
  border-radius: 5px;
  text-align: right;
  padding-bottom: 2rem;
  box-shadow: 0px 0px 10px #333;
}

.modal label {
  display: block;
  padding-bottom: 0.3rem;
}

.modal input,
.modal select {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: none;
  margin-bottom: 0.3rem;
  width: 87%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal select {
  width: 100%;
  background: #fff;
}

.modal select:focus {
  border-radius: 5px;
  border: 1px solid #333;
}

.modal div:nth-child(5) input {
  margin-bottom: 1rem;
  padding: 0.3rem 0.7rem;
}

.form-body {
  margin: auto;
  width: 50%;
  text-align: left;
}

.form-body div:last-child button:first-child {
  margin-right: 3rem;
}

.modal .close-btn {
  background: white;
  border: none;
  color: #000;
  display: inline-block;
  text-align: right;
  margin: 8px 8px 0 0;
  padding: 3px;
  transition: all 0.3s;
}

.modal .close-btn:hover {
  color: rgb(199, 46, 46);
}

.modal .close-btn:active {
  border: none;
  outline: none;
  color: rgb(199, 46, 46);
}

.modal h3 {
  margin: 0;
  padding: 0;
}

.video-container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries for different viewport screen */
@media (max-width: 1024px) {
  .modal {
    width: 40vw;
  }
  video {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .modal {
    width: 55vw;
  }
  .add-employee button {
    padding: 0.7rem 1.6rem;
    background: #ed5c69;
  }
  video {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .modal {
    width: 80vw;
  }
  .form-body div:last-child button:first-child {
    margin: 0.3rem 0.5rem 0.5rem 0;
  }
  .modal div:nth-child(5) input {
    margin-bottom: 0.3rem;
  }
  .add-employee button {
    padding: 0.5rem 1rem;
    background: #ed5c69;
    font-weight: lighter;
  }
  video {
    width: 300px;
    height: 200px;
  }
}
